


* {
    margin: 0; 
    padding: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#01132a url(http://img4.hostingpics.net/pics/144421stars.png) repeat top center;
  z-index:-2;
}

.twinkling{
  background:transparent url(http://img4.hostingpics.net/pics/352884twinkling.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 150s linear infinite;
  -ms-animation:move-twink-back 150s linear infinite;
  -o-animation:move-twink-back 150s linear infinite;
  -webkit-animation:move-twink-back 150s linear infinite;
  animation:move-twink-back 150s linear infinite;

}

div {
    font-family: Lucida Sans Unicode;
  
}
  
.tab {
  position: relative;
  background: #68A0B3;
  border-radius: 12px;
  display: none;
  width: 600px;
  text-align:center;
  margin: auto;
  z-index: 1;
  border: 3px solid black;
}


#wrapper {

  margin: 0px auto;
  text-align: center;
  
}


.button {
  background: #E0E0E0;
  font-weight: bold;
  border: 2px solid #5C005C;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.35s;
  margin: 4px;
}

button:focus, input[type="button"]:focus {
    outline: none;
}

.tooltip {
  visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.button:hover {
  background: #41E881;
  border-radius: 0px
}

a {
  color:#39c;
  text-decoration:none;
  text-align: center;
}

a:hover {
  color:#069;
}



.container {
  position:absolute;
  top:20%;
  background-color: #1A627A;
  width: 120px;
  height: 600px;
  display: inline-block;
  margin: 0px auto;
  border-radius: 6px
}



#planet {
  position:absolute;
  left:0%;
  top:0%;
  z-index:0;
  
}
#arrival {
  z-index: 1;
  position: Absolute;
  font-weight: bold;
  top:0%;
  left:0%;
  color: #b75254;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 19px;
}



.ship {
  width:82px;
  left:17%;
  top:20px;
  position:absolute;
}

.nbutton {
  color: #D6D0D0;
  background: #2B2B2B;
  font-weight: bold;
  border: 2px solid #5C005C;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.35s;
  
  margin: 4px;
}

.nbutton:hover {
  background: #D11313;
  border-radius: 0px
}


.tabbutton {
  background: #86D9C4;
  border: 2px solid #23633E;
  width: 146px;
  height: 70px;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.35s;
  font-size: 22px;
  
}

.tabbutton:hover {
  background: #5D9998;
  border: 2px solid #23633E;
  width: 146px;
  height: 70px;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.35s;
  font-size: 22px;
  
}



.tabswitcher {
  display: block;
  margin: auto;
  width: 610px;
  text-align:center;
  z-index: 1;
}

.achievement {
  background: #68A0B3;
  display: none;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid black;
  margin: 4px;
}




  #achievementBox {
    background-color: #84C5DB;
    color: black;
    text-align: center;
    margin: 0 auto;
    width: 650px;
    height: 70px;
    line-height: 70px;
    border-radius: 12px;
    border: 2px solid black;
    display: none;
  }
  

#prestigeUpgrades {

  position: relative;
  background: #68A0B3;
  border-radius: 12px;
  display: block;
  width: 550px;
  text-align:center;
  margin: auto;
  z-index: 1;
  border: 3px solid black;
}


[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: -20%;
  left: 150%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 5%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transition-duration: .5s;
}




[data-tooltip]:hover:before {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


[ach-tooltip] {
  position: relative;
  z-index: 2;

}

[ach-tooltip]:before,
[ach-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[ach-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 5%, 0.9);
  color: #fff;
  content: attr(ach-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transition-duration: .5s;
}

[ach-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 5%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  transition-duration: .5s;
}




[ach-tooltip]:hover:before,
[ach-tooltip]:hover:after{
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}




[prstg-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[prstg-tooltip]:before {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[prstg-tooltip]:before {
  position: absolute;
  bottom: -10%;
  left: -45%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 5%, 0.9);
  color: #fff;
  content: attr(prstg-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transition-duration: .5s;
}




[prstg-tooltip]:hover:before {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 2;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #6FB3C9;
    margin: auto;
    padding: 0;
    top: 150px;
    border: 1px solid #888;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index: 2;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:150; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:150; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #1C7694;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;

}
